OneCodeTeam/How to create and host a WCF Duplex Service using wsDualHttpBinding in Azure/[VB]-How to create and host a WCF Duplex Service using wsDualHttpBinding in Azure/C#/Client/Service References/CalculatorServiceClient/CalculatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SumByInputValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbeOneParameter" type="xs:double" />
        <xs:element minOccurs="0" name="dbeTwoParameter" type="xs:double" />
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumByInputValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SumByInputValueOneway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbeOneParameter" type="xs:double" />
        <xs:element minOccurs="0" name="dbeTwoParameter" type="xs:double" />
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayResultByOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbeSumValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayResultByOptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisPlayResultByOptionOneWay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dbeSumValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>