OneCodeTeam/Host and use WCF Services in Windows Azure (CSAzureWCFServices)/[C#]-Host and use WCF Services in Windows Azure (CSAzureWCFServices)/C#/CSAzureWCFServices/CSAzureWCFServiceTestClient/CSAzureWCFServiceTestClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_GetRoleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleInfo" />
  </wsdl:message>
  <wsdl:message name="IContract_GetRoleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_GetCommunicationChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationChannel" />
  </wsdl:message>
  <wsdl:message name="IContract_GetCommunicationChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommunicationChannelResponse" />
  </wsdl:message>
  <wsdl:portType name="IContract">
    <wsdl:operation name="GetRoleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetRoleInfo" message="tns:IContract_GetRoleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetRoleInfoResponse" message="tns:IContract_GetRoleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetCommunicationChannel" message="tns:IContract_GetCommunicationChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetCommunicationChannelResponse" message="tns:IContract_GetCommunicationChannel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContract" type="tns:IContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoleInfo">
      <soap:operation soapAction="http://tempuri.org/IContract/GetRoleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommunicationChannel">
      <soap:operation soapAction="http://tempuri.org/IContract/GetCommunicationChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IContract" binding="tns:BasicHttpBinding_IContract">
      <soap:address location="http://rd00155d384064/Service1.svc/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>