Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/46871-Official Visual Studio 2008 VB.NET Samples/Consuming ASMX and WCF Services Sample/VBASMX/PredictorClient/Service References/PredictorService/PredictorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AskSoapIn">
    <wsdl:part name="parameters" element="tns:Ask" />
  </wsdl:message>
  <wsdl:message name="AskSoapOut">
    <wsdl:part name="parameters" element="tns:AskResponse" />
  </wsdl:message>
  <wsdl:portType name="PredictorServiceSoap">
    <wsdl:operation name="Ask">
      <wsdl:input message="tns:AskSoapIn" />
      <wsdl:output message="tns:AskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PredictorServiceSoap" type="tns:PredictorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ask">
      <soap:operation soapAction="http://tempuri.org/Ask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PredictorServiceSoap12" type="tns:PredictorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ask">
      <soap12:operation soapAction="http://tempuri.org/Ask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PredictorService">
    <wsdl:port name="PredictorServiceSoap" binding="tns:PredictorServiceSoap">
      <soap:address location="http://localhost:4735/PredictorService/PredictorService.asmx" />
    </wsdl:port>
    <wsdl:port name="PredictorServiceSoap12" binding="tns:PredictorServiceSoap12">
      <soap12:address location="http://localhost:4735/PredictorService/PredictorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>