Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/[VB]-Official Visual Studio 2008 VB.NET Samples/Consuming ASMX and WCF Services Sample/VB/PredictorClient/Service References/PredictorService/PredictorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Microsoft.ServiceReference.Samples" elementFormDefault="qualified" targetNamespace="Microsoft.ServiceReference.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>