OneCodeTeam/How to unzip files to Azure blob storage in Azure/[VB]-How to unzip files to Azure blob storage in Azure/VB/Client/Service References/ServiceReference1/UnZipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnZipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:56217/UnZipFileService/metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:56217/UnZipFileService/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:56217/UnZipFileService/metadata?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnZipWcfService_UnZipFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:UnZipFiles" />
  </wsdl:message>
  <wsdl:message name="IUnZipWcfService_UnZipFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnZipFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUnZipWcfService_GetAllContainer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContainer" />
  </wsdl:message>
  <wsdl:message name="IUnZipWcfService_GetAllContainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContainerResponse" />
  </wsdl:message>
  <wsdl:message name="IUnZipWcfService_GetAllBlob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlob" />
  </wsdl:message>
  <wsdl:message name="IUnZipWcfService_GetAllBlob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlobResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnZipWcfService">
    <wsdl:operation name="UnZipFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnZipWcfService/UnZipFiles" message="tns:IUnZipWcfService_UnZipFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnZipWcfService/UnZipFilesResponse" message="tns:IUnZipWcfService_UnZipFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnZipWcfService/GetAllContainer" message="tns:IUnZipWcfService_GetAllContainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnZipWcfService/GetAllContainerResponse" message="tns:IUnZipWcfService_GetAllContainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnZipWcfService/GetAllBlob" message="tns:IUnZipWcfService_GetAllBlob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnZipWcfService/GetAllBlobResponse" message="tns:IUnZipWcfService_GetAllBlob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnZipWcfService" type="tns:IUnZipWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnZipFiles">
      <soap:operation soapAction="http://tempuri.org/IUnZipWcfService/UnZipFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContainer">
      <soap:operation soapAction="http://tempuri.org/IUnZipWcfService/GetAllContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlob">
      <soap:operation soapAction="http://tempuri.org/IUnZipWcfService/GetAllBlob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnZipService">
    <wsdl:port name="BasicHttpBinding_IUnZipWcfService" binding="tns:BasicHttpBinding_IUnZipWcfService">
      <soap:address location="http://127.0.0.1:56217/UnZipService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>