Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/[VB]-Official Visual Studio 2008 VB.NET Samples/Consuming a Web Service Sample/VB/Web References/DailyDiblert/DailyDiblert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DailyDilbertImage">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DailyDilbertImagePath">
        <s:complexType />
      </s:element>
      <s:element name="DailyDilbertImagePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DailyDilbertImagePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DailyDilbertImageSoapIn">
    <wsdl:part name="parameters" element="tns:DailyDilbertImage" />
  </wsdl:message>
  <wsdl:message name="DailyDilbertImageSoapOut">
    <wsdl:part name="parameters" element="tns:DailyDilbertImageResponse" />
  </wsdl:message>
  <wsdl:message name="DailyDilbertImagePathSoapIn">
    <wsdl:part name="parameters" element="tns:DailyDilbertImagePath" />
  </wsdl:message>
  <wsdl:message name="DailyDilbertImagePathSoapOut">
    <wsdl:part name="parameters" element="tns:DailyDilbertImagePathResponse" />
  </wsdl:message>
  <wsdl:portType name="DailyDilbertSoap">
    <wsdl:operation name="DailyDilbertImage">
      <wsdl:input message="tns:DailyDilbertImageSoapIn" />
      <wsdl:output message="tns:DailyDilbertImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DailyDilbertImagePath">
      <wsdl:input message="tns:DailyDilbertImagePathSoapIn" />
      <wsdl:output message="tns:DailyDilbertImagePathSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DailyDilbertSoap" type="tns:DailyDilbertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="DailyDilbertImage">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DailyDilbertImagePath">
      <soap:operation soapAction="http://tempuri.org/DailyDilbertImagePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DailyDilbert">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="DailyDilbertSoap" binding="tns:DailyDilbertSoap">
      <soap:address location="http://www.esynaps.com/WebServices/DailyDiblert.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>