Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/[VB]-Official Visual Studio 2008 VB.NET Samples/WCF Windows Forms Sample/VB/WeatherClient/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63044/WCFWeatherService/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetWeatherData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="localities" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWeatherDataResult" nillable="true" type="tns:ArrayOfWeatherData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfWeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WeatherData" nillable="true" type="tns:WeatherData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeatherData" nillable="true" type="tns:ArrayOfWeatherData" />
  <xs:complexType name="WeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="HighTemperature" type="xs:int" />
      <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowTemperature" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherData" nillable="true" type="tns:WeatherData" />
</xs:schema>