Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/[VB]-Official Visual Studio 2008 VB.NET Samples/Consuming a Web Service Sample/VB/Web References/ConvertEuros/IEuroservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="IEuroservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="FromEuroRequest">
    <wsdl:part name="Currency" type="s:string" />
    <wsdl:part name="Amount" type="s:double" />
  </wsdl:message>
  <wsdl:message name="FromEuroResponse">
    <wsdl:part name="return" type="s:double" />
  </wsdl:message>
  <wsdl:message name="ToEuroRequest">
    <wsdl:part name="Currency" type="s:string" />
    <wsdl:part name="Amount" type="s:double" />
  </wsdl:message>
  <wsdl:message name="ToEuroResponse">
    <wsdl:part name="return" type="s:double" />
  </wsdl:message>
  <wsdl:portType name="IEuro">
    <wsdl:operation name="FromEuro">
      <wsdl:input message="tns:FromEuroRequest" />
      <wsdl:output message="tns:FromEuroResponse" />
    </wsdl:operation>
    <wsdl:operation name="ToEuro">
      <wsdl:input message="tns:ToEuroRequest" />
      <wsdl:output message="tns:ToEuroResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IEurobinding" type="tns:IEuro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="FromEuro">
      <soap:operation soapAction="urn:Euro-IEuro#FromEuro" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Euro-IEuro" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Euro-IEuro" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToEuro">
      <soap:operation soapAction="urn:Euro-IEuro#ToEuro" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Euro-IEuro" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Euro-IEuro" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IEuroservice">
    <wsdl:port name="IEuroPort" binding="tns:IEurobinding">
      <soap:address location="http://www.drbob42.co.uk/cgi-bin/Euro42/soap/IEuro" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>