Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/46871-Official Visual Studio 2008 VB.NET Samples/Consuming a Web Service Sample/VB/Web References/LocalTime/LocalTime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ripedev.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ripedev.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ripedev.com/webservices/">
      <s:element name="LocalTimeByZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocalTimeByZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalTimeByZipCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LocalTimeByZipCodeSoapIn">
    <wsdl:part name="parameters" element="tns:LocalTimeByZipCode" />
  </wsdl:message>
  <wsdl:message name="LocalTimeByZipCodeSoapOut">
    <wsdl:part name="parameters" element="tns:LocalTimeByZipCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="LocalTimeSoap">
    <wsdl:operation name="LocalTimeByZipCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the local time for a given zip code.</wsdl:documentation>
      <wsdl:input message="tns:LocalTimeByZipCodeSoapIn" />
      <wsdl:output message="tns:LocalTimeByZipCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocalTimeSoap" type="tns:LocalTimeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocalTimeByZipCode">
      <soap:operation soapAction="http://ripedev.com/webservices/LocalTimeByZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocalTimeSoap12" type="tns:LocalTimeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocalTimeByZipCode">
      <soap12:operation soapAction="http://ripedev.com/webservices/LocalTimeByZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocalTime">
    <wsdl:port name="LocalTimeSoap" binding="tns:LocalTimeSoap">
      <soap:address location="http://www.ripedev.com/webservices/LocalTime.asmx" />
    </wsdl:port>
    <wsdl:port name="LocalTimeSoap12" binding="tns:LocalTimeSoap12">
      <soap12:address location="http://www.ripedev.com/webservices/LocalTime.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>