Visual Studio Product Team/Official Visual Studio 2008 VB.NET Samples/[VB]-Official Visual Studio 2008 VB.NET Samples/Consuming a Web Service Sample/VB/Web References/BandN/bnprice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.abundanttech.com/webservices/BNPrice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.abundanttech.com/webservices/BNPrice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.abundanttech.com/webservices/BNPrice">
      <s:element name="GetBNQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sISBN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBNQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBNQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBNQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetBNQuote" />
  </wsdl:message>
  <wsdl:message name="GetBNQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetBNQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetBNQuoteHttpGetIn">
    <wsdl:part name="sISBN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBNQuoteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBNQuoteHttpPostIn">
    <wsdl:part name="sISBN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBNQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="BNPriceSoap">
    <wsdl:operation name="GetBNQuote">
      <wsdl:input message="tns:GetBNQuoteSoapIn" />
      <wsdl:output message="tns:GetBNQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BNPriceHttpGet">
    <wsdl:operation name="GetBNQuote">
      <wsdl:input message="tns:GetBNQuoteHttpGetIn" />
      <wsdl:output message="tns:GetBNQuoteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BNPriceHttpPost">
    <wsdl:operation name="GetBNQuote">
      <wsdl:input message="tns:GetBNQuoteHttpPostIn" />
      <wsdl:output message="tns:GetBNQuoteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BNPriceSoap" type="tns:BNPriceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetBNQuote">
      <soap:operation soapAction="http://www.abundanttech.com/webservices/BNPrice/GetBNQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNPriceHttpGet" type="tns:BNPriceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBNQuote">
      <http:operation location="/GetBNQuote" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNPriceHttpPost" type="tns:BNPriceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBNQuote">
      <http:operation location="/GetBNQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BNPrice">
    <wsdl:port name="BNPriceSoap" binding="tns:BNPriceSoap">
      <soap:address location="http://www.abundanttech.com/WebServices/bnprice/bnprice.asmx" />
    </wsdl:port>
    <wsdl:port name="BNPriceHttpGet" binding="tns:BNPriceHttpGet">
      <http:address location="http://www.abundanttech.com/WebServices/bnprice/bnprice.asmx" />
    </wsdl:port>
    <wsdl:port name="BNPriceHttpPost" binding="tns:BNPriceHttpPost">
      <http:address location="http://www.abundanttech.com/WebServices/bnprice/bnprice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>