Microsoft Office Developer Documentation Team/SharePoint 2010 101 Code Samples/[C#]-SharePoint 2010 101 Code Samples/SharePoint 2010 Hosting Silverlight Applications that Call Azure Services/C#/AZURE_ClientSilverlightWebPart/DayNamerClientApp/Service References/DayNamerServiceReference/DayInfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TodayIs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodayIsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TodayIsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodayAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="daysToAdd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodayAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TodayAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>