OneCodeTeam/How to access data from SQL Server database in Win10 UWP/[C#]-How to access data from SQL Server database in Win10 UWP/C#/CSUWPAccessSQLServer/Service References/AccessSQLService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34161/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccessSQLService.Model" />
  <xs:element name="QueryArticle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccessSQLService.Model" minOccurs="0" name="QueryArticleResult" nillable="true" type="q1:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>