Microsoft Office Developer Documentation Team/SharePoint 2010 101 Code Samples/49862-SharePoint 2010 101 Code Samples/SharePoint 2010 Hosting Silverlight Applications that Call Azure Services/C#/AZURE_ClientSilverlightWebPart/DayNamerClientApp/Service References/DayNamerServiceReference/DayInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DayInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://daynamerdemo.cloudapp.net/DayInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://daynamerdemo.cloudapp.net/DayInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDayInfo_TodayIs_InputMessage">
    <wsdl:part name="parameters" element="tns:TodayIs" />
  </wsdl:message>
  <wsdl:message name="IDayInfo_TodayIs_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodayIsResponse" />
  </wsdl:message>
  <wsdl:message name="IDayInfo_TodayAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:TodayAdd" />
  </wsdl:message>
  <wsdl:message name="IDayInfo_TodayAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodayAddResponse" />
  </wsdl:message>
  <wsdl:portType name="IDayInfo">
    <wsdl:operation name="TodayIs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDayInfo/TodayIs" message="tns:IDayInfo_TodayIs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDayInfo/TodayIsResponse" message="tns:IDayInfo_TodayIs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodayAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IDayInfo/TodayAdd" message="tns:IDayInfo_TodayAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDayInfo/TodayAddResponse" message="tns:IDayInfo_TodayAdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDayInfo" type="tns:IDayInfo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TodayIs">
      <soap:operation soapAction="http://tempuri.org/IDayInfo/TodayIs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodayAdd">
      <soap:operation soapAction="http://tempuri.org/IDayInfo/TodayAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DayInfoService">
    <wsdl:port name="BasicHttpBinding_IDayInfo" binding="tns:BasicHttpBinding_IDayInfo">
      <soap:address location="http://daynamerdemo.cloudapp.net/DayInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>